* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(7, 102, 197);
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 600px;
  border-radius: 10px;
  padding: 10px;
}

form h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

form input,
form select,
form textarea {
  border: 1px solid black;
  margin: 6px;
  padding: 10px;
  outline: none;
  background-color: #f5f5f5;
  font-size: 16px;
}

#sendButton {
  background-color: green;
}

#resetButton {
  background-color: red;
}

#sendButton:hover {
  background-color: rgba(4, 118, 4, 0.707);
  padding: 8px;
  font-weight: 500;
}

#resetButton:hover {
  background-color: rgba(174, 10, 10, 0.785);
  padding: 8px;
  font-weight: 500;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  color: white;
  padding: 7px;
  margin-bottom: 6px;
}
